<!DOCTYPE html>
<html>
<head>
    <title>Event System</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>

<div class="container">
    <h2>Event Scheduler</h2>
    <hr class="divider">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for msg in messages %}
            <p>{{ msg }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="content-block">
      {% block content %}{% endblock %}
    </div>

    <hr class="footer-divider">
</div>

</body>
</html>
